.wrapper {
  display: grid;
  height: auto;
  background-color: #141414;
  border: 3px solid chartreuse;
  border-radius: 2em;
  padding-bottom: 3rem;
  grid-template-areas:
    "result result result result"
    "result result result result"
    "row row row row"
    "modifiers modifiers modifiers operators"
    "number number number operators"
    "number number number operators"
    "number number number operators";
}
.result {
  grid-area: result;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #404040;
  color: rgb(68, 129, 6);
  margin: 4em 3em 2em 3em;
  border: 1px solid chartreuse;
  border-radius: 1em;
}
.result h2 {
  right: 0;
  margin: 20px;
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
}
hr {
  grid-area: row;
  width: 90%;
  height: 5px;
  background-color: rgb(63, 62, 62);
  border: 0;
  border-radius: 50%;
  margin-bottom: 50px;
}
.modifiers {
  grid-area: modifiers;
  padding-left: 30px;
  margin-left: 10px;
}

.digits {
  grid-area: number;
  display: inline-block;
  padding-left: 30px;
  margin-left: 10px;
}
.operations {
  grid-area: operators;
  border: 0;
  margin-left: -2.5em;
}
button {
  width: 2.7em;
  height: 2.7em;
  margin: 5px;
  font-size: 1.5em;
  border-radius: 50%;
}

.digits button {
  color: rgb(132, 136, 136);
}
.modifiers button,
.operations button {
  color: chartreuse;
}
.allClear {
  width: 6em;
  border-radius: 1em;
}
.operations .equal {
  background-color: chartreuse;
  color: #fff;
  border: 2px solid #fff;
}
/*
            RESPONSIVIDADE
*/
@media (max-width: 500px) {
  .wrapper {
    width: 300px;
  }
  .result {
    height: 70px;
  }
  .result h2 {
    margin: 10px;
    font-size: 25px;
  }
  .modifiers {
    padding-left: 0px;
    margin-left: 30px;
  }
  .digits {
    padding-left: 0px;
    margin-left: 30px;
  }
  .operations {
    border: 0;
    margin-left: -35px;
  }
  button {
    width: 3em;
    height: 3em;
    font-size: 1em;
    border-radius: 50%;
  }
}
